@import "tailwindcss";

:root {
  /* font-family: Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@theme {
  --color-primary: #1a5c38;
  --color-secondary: #227d53;
  --color-third: #5fbd92;
  --color-light-white: #f7f7f7;
}
